
html, body, p, span, ul, li, a, h1, h2, h3, h4,form {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: url("../images/body_bg.png") repeat-x;
    font-family: verdana, Microsoft YaHei, Tahoma, sans-serif;
}

.clear:before, .clear:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}
h4.bt em:hover,.banner-bar span:hover{
    cursor: pointer;
}
.header {
    width: 100%;
    height: 35px;
}

.header-nav {
    width: 1000px;
    height: 35px;
    clear: both;
    margin: 0 auto;
}
.header-nav span{
    float: right;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
}
.header-nav a:hover{
    cursor: pointer;
}
.space {
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
}

.header-nav a{
    height: 35px;
    line-height: 35px;
    float: right;
    color: #fff;
    padding-left: 10px;
    text-align: center;
    display: inline-block;
    _display: inline;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.container .container-top {
    width: 100%;
    height: 204px;
    background: transparent url("../images/logo.png") no-repeat;
}

.container .container-nav {
    width: 100%;
    height: 40px;
    background-color: #498CCB;
    border-radius: 10px;
    padding: 5px 0;
}

.container-nav a {
    width: 10%;
    _width:99px;
    height: 100%;
    display: inline;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: white;
    float: left;

    /*display: inline-block;*/
}
.container-nav a:hover{
    cursor: pointer;
}
.container-nav a:hover .nav-item{
    display: block;
}
.container-nav a:hover .nav-item span:hover{
    display: block;
    border: none;
    cursor: pointer;
    color: #222222;
}
.nav-item{
    display: none;
    margin-top: -5px;
    position: relative;
    z-index: 10;
}
.nav-item span{
    width: auto;
    display: block;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: #498CCB;
    border: none;
}

.container-wap {
    margin-top: 10px;
}

.container-left {
    width: 754px;
    float: left;
}

.section-banner, .section-news {
    height: 190px;
    height: 242px;
    float: left;
    border: 1px solid #d0d1d3;
}

.container-left .section-banner{
    width: 286px;
    height: 240px;
}
.banner-container{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.banner-images img{
    width: 286px;
    height: 215px;
    display: block;
    float: left;
}
.banner-bar{
    width: 40px;
    height: 10px;
    position: absolute;
    left: 126px;
    bottom:10px;
}
.point{
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    background-color: #000000;
    border-radius: 5px;
    margin-right: 5px;
}
.spe{
    margin-right: 0 !important;
}
.point.on{
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    background-color: blue;
    border-radius: 5px;
    margin-right: 5px;
}
.container-left .section-news ,.section-notices{
    width: 454px;
    margin-left: 10px;
}

h4.bt {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 0 0 10px;
    background: url("../images/h4_bt.jpg") repeat-x;
}

.section-news h4 em ,.section-item h4 em,.section-media h4 em,.banner-container h4 em{
    float: right;
    padding-right: 10px;
    font-style: normal;
    color: #A4A4A4;
}

.news-description {
    text-align: center;
}

.news-description p {
    color: #222222;
}
.news-item{
    padding-top: 7px;
}
.news-item-title{
    padding-left: 10px;
    width: 380px;
    display: inline-block;
}
.news-item-title a:hover,.item-title a:hover,.media-item-title a:hover{
    color: #0255A3;
    cursor:pointer;
}
.section-media{
    width: 286px;
    height: 242px;
    float: left;
    border: 1px solid #d0d1d3;
}
.media-item-title{
    padding-left: 10px;
    width: 270px;
    display: inline-block;
}
.margin-left-small{
    margin-left: 10px !important;
}
.margin-top-small{
    margin-top: 10px !important;
}
.padding-right-small{
    padding-right: 10px !important;
}
.padding-top-none{
    padding-top: 0 !important;
}
.section-exam{
    float: left;
    width: 755px;
    height: 90px;
    margin-top: 10px;
    border: 1px solid #d0d1d3;
}
.exam-image{
    padding: 2px;
    text-align: center;
    border: none;
}
.section-item{
    width: 370px;
    height: 360px;
    margin-bottom: 10px;
    float: left;
    border: 1px solid #d0d1d3;
    background-color: #F1F6FB;
}
.section-item h4.bt{
    background: #0157A4 !important;
    color: white;
}
.section-item h4 em{
    color: white;
}
.section-item .item{
    padding-top: 10px;
    padding-left: 5px;
}
.item-title{
    padding-left: 10px;
    font-size: 14px;
    width: 300px;
    display: inline-block;
}
.container-right{
    width: 220px;
    display: inline;
    float: right;
    /*margin-top: 10px;*/
    border: 1px solid #d0d1d3;
}
.container-right-first{
    clear: both;
}
.container-right-first h3{
    width: 100%;
    font-size: 12px;
    color: #0188B5;
    padding-top: 5px;
    text-align: center;
}
.form-group{
    width: 100%;
    padding: 5px;
}
.form-group input{
    font-size: 12px;
    padding: 2px;
    margin: 5px 10px 0 10px;
}
.form-buttons,.form-others{
    clear: both;
    display: inline;
    float: right;
    padding-top: 5px;
    padding-right: 30px;
    _padding-right: 0;
    _padding-bottom: 0;
    *padding-right: 0;
    *padding-bottom: 0;
}
.form-buttons button{
    padding: 3px;
}
.form-others{
    /*width: 200px;*/
}
.form-others span{
    float: left;
}
.form-others a{
    color: #0157A4;
    display: inline;
    text-align: center;
}
.form-others a:hover{
    text-decoration: underline;
}
.container-right-links{
    clear: both;
    padding: 25px 5px 5px;
}
.link-content{
    padding-top: 10px;
    text-align: center;
}
.link-content a,.link-next a{
    padding-top: 15px;
}
.link-next{
    margin-left: 10px;
    margin-top: 20px;
    clear: both;
}
.link-next span.wei{
    margin-top: 10px;
    margin-bottom: 10px;
}
.link-next a{
    float: left;
}
.container-right-bottom{
    width: 220px;
    height: 75px;
    clear: both;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #d0d1d3;
    text-align: center;
    vertical-align: middle;
}
.container-right-bottom a{
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
.footer{
    width: 100%;
    height: 110px;
    margin-top: 10px;
    border-top: 2px solid #F84C0D;
    color: white;
    background-color: #0257A7;
    clear: both;
}
.footer-wrap{
    width: 1000px;
    height: 70px;
    margin: 24px auto;
    text-align: center;
}
.footer-wrap p{
    /*margin-top: 10px;*/
    line-height: 35px;
}


